body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(0,0,96);

  background-image: url(/img/bean.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

p, img {
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

.navbar {
  background-color: rgba(0,0,0,0.6);
}

.nav-link {
  font-family: 'Coda', cursive;
  color: goldenrod;
  font-size: 1.5em;
}

#tagline {
  font-family: 'Coda', cursive;
  text-align: left;
  color: #11ecf7;
  font-size: 2.0em;
}

#slogan {
  font-family: 'Coda', cursive;
  text-align: left;
  color: goldenrod;
  font-size: 2.0em;
}

#brand-name {
  font-family: 'Coda', cursive;
  text-align: left;
  color: #11ecf7;
  font-size: 2.0em;
}

.btn-join {
  background-color: rgba(224,96,16,1);
  color: white;
  text-align: right;
  font-family: 'Coda', cursive; 
}

#call_to_action {
  font-family: 'PT Sans', sans-serif;
  color: white;
  font-size: 1.2em;

  margin-top: 2%;
  margin-left: 6%;
  max-width: 75%;
  padding: 10px;

  background-color: rgba(0,0,0,0.6);
}

#res {
  color: LightSkyBlue;
  font-weight: bold;
}

#res-welcome {
  text-align: center;
}

#enl {
  color: #e0ffe0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: rgba(0,0,0,0.6);
}
